body {
    background-color: #f2f2f2;
}

/* Atur tampilan untuk formulir */
form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    /* Warna latar belakang formulir */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Bayangan untuk efek kedalaman */
}

/* Atur tampilan untuk grup elemen dalam formulir */
.form-group {
    margin-bottom: 20px;
}

/* Atur tampilan untuk label dalam formulir */
label {
    display: block;
    margin-bottom: 5px;
}

/* Atur tampilan untuk input dalam formulir */
input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.periode-input {
    display: flex;
}

.periode-input input[type="date"] {
    flex: 1;
    /* Meratakan input date */
}

/* Atur tampilan untuk tombol dalam formulir */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    /* Warna latar belakang tombol */
    color: white;
    /* Warna teks tombol */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    /* Warna latar belakang tombol saat dihover */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.container_table {
    max-width: 500px;
    margin: 10px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}